
<section class="products">
  <h1>Products</h1>
  </div>
  {{#if products}}
  <div class="products_list">
    {{#each products}}
    <div class="product">
      <img src="images/products/{{thunbnails.[0]}}" alt="{{this.title}}">
      <h1>ID: {{this._id}}</h1>
      <h3>Title: {{this.title}}</h3>
      <p>Description: {{this.description}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Price: {{this.price}}</p>
    </div>
    {{/each}}
  </div>
  {{/if}}
     <div>
        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}"><button>Anterior</button></a>
        {{/if}}
        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
    </div>

</section>